.container{
    display: grid;
    grid-template-columns: 30% 70%;
    border: 1px solid #8e9aaf;
    border-radius: 8px;
    width: 350px;
    height: 250px;
}

.card{
    display: flex;
    flex-direction: column;
    align-content: center;
}

.btn{
    width: 35px;
    height: 35px;
    border-radius: 8px;
    margin: 2px;
    align-self: flex-end;
}

/* .btnColor{
    color:white;
} */

/* .btn:hover{
    color: red;
    background-color: white;
} */

.containerImg{
    display: flex;
    align-items:center ;
}

.img{
    width: 110px;
    height: 110px;
}