
.conteiner{
    display: grid;
    grid-template-columns: 5% 25% 70%;
    align-items: center;
    height: 100%;
    background:  #ffc971;
    padding: .6rem;
    color: whitesmoke;
}

#root{
    text-align: center;
    background: linear-gradient(rgba(255,255,255,0.75), rgba(255,255,255,0.75)), url("back.jpg") no-repeat fixed;
    background-size:unset;
}

#footer{
    font-size: 12px;
    width: 100%;
    background: #ffc971;
    padding: .8rem;
    text-align: center;
}